<VirtualHost *:80>
    ServerName tome.ceimerrudis.lv
    ServerAlias www.tome.ceimerrudis.lv

    DocumentRoot /var/www/tome

    <Directory /var/www/tome>
        AllowOverride None
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/tome-error.log
    CustomLog ${APACHE_LOG_DIR}/tome-access.log combined
</VirtualHost>
<VirtualHost *:443>
    ServerName tome.ceimerrudis.lv
    ServerAlias www.tome.ceimerrudis.lv

    DocumentRoot /var/www/tome

    <Directory /var/www/tome>
        AllowOverride None
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/tome-error.log
    CustomLog ${APACHE_LOG_DIR}/tome-access.log combined
</VirtualHost>
